.home__image{
    width: 100%;
    z-index: -1;
    object-fit: none;
    /* margin-bottom: -180px; */
    height: 600px;
    /* mask-image: linear-gradient(to bottom, rgba(0,0,0,5),rgba(0,0,0,.1)); */
}
.react-slideshow-wrapper .images-wrap {
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}
.default-nav{
    margin-top: -246px;
}
.react-slideshow-container {
    display: flex;
    align-items: center;
    margin-bottom: -266px;
}
/* .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 350px;
  } */
/* .slider{
    height: 500px;
    width: 100%;
} */
/* .react-slideshow-wrapper.slide {
    height: 500px;
    width: 100%;
    overflow: unset;
} */